body{
    background-color: rgb(147, 206, 186);
}
.conteudo{
    margin-top: 10%;
    text-align: center;
    
}
h1{
    text-align: center;
    text-decoration: overline;
    margin-top: 5%;
    margin-bottom: 2%;
    text-decoration-color:darkcyan;
}
button{
    background-color: darkslategrey;
    color: white;
    padding: 10px 30px;
}
button:hover{
    background-color: darkcyan;
}
button:active{
    transform: translateY(4px);
}
img{
    border-style:dashed;
}